* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    color: rgb(223, 209, 209);
    background: linear-gradient(188deg, rgba(147,37,236,1) 0%, rgba(147,37,236,1) 100%);
    font-family: 'Raleway', sans-serif;
}

.foto-principal {
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    margin-top: 20px;
}
.profile {
    color: rgb(223, 209, 209);
    text-align: center;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-top: 10px;
}
h2 {
    font-size: 16px;
    margin-top: 5px;
}
.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 10px;
}
.social img {
    width: 33px;
}
.caixas-texto {
    list-style: none;    
}
.caixas-texto li {
    display: block;
    background: white;
    padding: 20px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: rgba(147,37,236,1);
    font-weight: bold;
    margin: 10px 20px;
    list-style: none;
    text-align: center;
    box-shadow: 0 0 20px white;

}
.transicao {
    display: block;
    background: white;
    padding: 20px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: rgba(147,37,236,1);
    font-weight: bold;
    margin: 10px 20px;
    list-style: none;
    text-align: justify;

}
.transicao span {
    display: block;
    color: gray;

}